<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Julius Kimuli Home Page">
    <meta name="author" content="Julius Kimuli">
    <meta name="google-site-verification" content="WKVTQiaPVPBHON0LW96797pB6rWcBMQFuERfCem9luk" />
    <meta name="msvalidate.01" content="D7F62CCC7F61A1D5A06FCD7B515CF920" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/fontawesome-all.min.css" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    

    <title>Julius Kimuli - Home Page</title>

    <style>
   
  
      </style>
  
    </head>
  
    <body class="container">

            <header>

                    <nav class="green">
                      <div class="nav-wrapper">
                        <!--<a href="#" class='brand-logo'>JK</a>-->
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                          <li><a href="/">Home</a></li>
                          <li class="active"><a href="/career">CV</a></li>
                          <li><a href="/photos">Gallery</a></li>
                          <li><a href="/book">Read List</a></li>
                          <li><a href="/contact">Contact</a></li>
                        </ul>
                
                        <ul class="side-nav green lighten-3" id="mobile-demo">
                            <li><a href="/">Home</a></li>
                            <li><a href="/career">CV</a></li>
                            <li><a href="/photos">Gallery</a></li>
                            <li class="active"><a href="/book">Read List</a></li>
                            <li><a href="/contact">Contact</a></li>
                          
                        </ul>
                
                      </div>
                    </nav>
                
            </header> 

            <div class="divider"></div>

        <main>
 
            <div class="row">
  
            <div class="col s12 m4">

            </div>
        
            </div>

        </main>

        <div class="divider"> </div>

        <footer>
        
          <div class="row">
  
          <div class="col s12">
  
              <div class="section center-align">
                    <h6 class="grey-text text-darken-4"> Copyright &nbsp; &copy; &nbsp;<span id="year"></span> - Julius Kimuli </h6>

              </div>
  
          </div>
  
  
        </div>

        </footer>
            
          
      <!--Import jQuery before materialize.js-->
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
  
      <script type="text/javascript">
  
        var currentYear = (new Date).getFullYear();
  
        $(document).ready(function() {
          $("#year").text( (new Date).getFullYear() );
  
          $(".button-collapse").sideNav();
  
        });
        
      </script>
    
    </body>
    
  
  </html>

    


