<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Julius Kimuli - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type='text/css'>

    

    <!-- Custom styles for this template -->
    <link href="static/css/justified-nav.css" rel="stylesheet">
		<link href="static/css/left.css" rel="stylesheet">
		<link href="static/css/progress.css" rel="stylesheet"> 

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        
        <nav class='nav-color'>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/photos">Gallery</a></li>
            <li class="active"><a href="/career">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contacts</a></li>
          </ul>
        </nav>
      </div>
      

      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">

          <br/> <br/>

          <div class='row'>
						  <div class='panel'>
							<img src='static/img/kimuli.jpg' width='100' height='100'  class='img-thumbnail img-circle' alt='Julius Image'/>
							<h4> Julius Kimuli </h4>
							<h4> Telecoms Engineer | Web Developer </h4>
							</div>
					</div>

					<div class='row'>

						 <div class="panel panel-info">
								<div class="panel-heading">
									
									<h3 class="panel-title"><span class="fa fa-user"></span>  &nbsp;&nbsp;Summary</h3>
									
								</div>
								<div class="panel-body">
									
											<p>Experienced telecoms engineering professional with extensive knowledge of GSM/WCDMA/LTE networks 
												
												SDH/PDH microwave systems and  packet transport systems.</p>

											<p>I have been actively involved in the installation, field deployment and maintenance, commissioning and integration of network elements </p>
											 <p>while working within highly multicultural teams under tight deadlines and strict adherence to pre-agreed service level agreements.</p>

								</div>
							</div>

					</div>

					<div class='row'>

						 <div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"> <span class="fa fa-vcard"></span>  &nbsp;&nbsp;Contact Information</h3>
								</div>
								<div class="panel-body">
									
                   <p><span class="fa fa-phone"></span>  &nbsp;&nbsp; +256 791448850 </p>
									 <p> <span class="fa fa-envelope"></span>  &nbsp;&nbsp; jkimuli@gmail.com </p>
								</div>
							</div>

					</div>

					<div class='row'>

						<a href='static/files/cv.doc' role='button' class='btn btn-info' download>Download CV </a>


						</div>



        </div>



        <div class="col-md-8 left-panel">
          
          <br/> <br/>

					<div class='row'>

						 <div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"> <span class="fa fa-wrench"></span>  &nbsp;&nbsp;Work Experiences</h3>
								</div>
								<div class="panel-body">

								<h4>Field Operations Engineer - Nokia Uganda ( Jan 2016 - to date ) </h4>

	              <p> Core responsibilities involve:
									 <ul>
										 <li> Supervision of subcontractor teams during field network deployments</li>
									    <li>Commissioning and integration of network elements.</li>
										</ul>
								</p>

                <h4> Field Operations Engineer - Alcatel Lucent South Africa Uganda Branch (April 	2009 - Jan 2016 )</h4>
                <p> Core responsibilities included:
									  <ul>
											<li> 1st Level Field Operations support,troubleshooting and network fault management</li>
											<li> Supervision of subcontractors during network deployments</li>
											<li> Commissioning and Integration of network elements</li>
										</ul>
								</p>
								<p> On a range of projects with different telecom operators including Orange Uganda,Smile Communications Uganda,Smile Communications Tanzania,
									  Airtel Kenya and Orange Cameroun </p>


                <h4>Operations and Maintenance Engineer -  Warid Telecom Uganda  (March 2008 - March 2009)</h4>
								  <ul>
											<li> 1st Level Field Operations support,troubleshooting and network fault management</li>
									</ul>


								</div>
							</div>

					</div>

					<div class='row'>

						 <div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"> <span class="fa fa-briefcase"></span>  &nbsp;&nbsp;Professional Skills</h3>
								</div>
								<div class="panel-body">
									
									 <p> Linux Systems Administration &nbsp;&nbsp;
										  <progress class='pull-right' max='1.0' value='0.6'></progress>
									  </p>

										<p> GSM/WCDMA/LTE Commissioning and Integration &nbsp;&nbsp;
										  <progress class='pull-right'  max='1.0' value='0.9'></progress>
									  </p>

										<p> Python/Django Programming &nbsp;&nbsp;
										  <progress class='pull-right' max='1.0' value='0.7'></progress>
									  </p>

										<p> HTML5 and CSS3 &nbsp;&nbsp;
										  <progress class='pull-right' max='1.0' value='0.5'></progress>
									  </p>

										<p> Android Mobile Development &nbsp;&nbsp;
										  <progress  class='pull-right' max='1.0' value='0.3'></progress>
									  </p>




								</div>
							</div>

					</div>

					<div class='row'>

						 <div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"> <span class="fa fa-graduation-cap"></span>  &nbsp;&nbsp;Education and Certifications</h3>
								</div>
								<div class="panel-body">
									<p> Comptia Linux+ Certification </p>
									<p> Linux Professional Institute Systems Administrator Certification - LPIC Level I </p>
									<p> Alcatel-Lucent Network Routing Specialist Level I </p>
									<p> Bsc Electrical Engineering - Makerere University Kampala Uganda </p>
								</div>
							</div>

					</div>

          
       </div>
        
      </div>

      
      <!-- Site footer -->
      <footer class="footer text-center">
        <p>Copyright &copy; 2016 Julius Kimuli</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
