<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Julius Kimuli Home Page">
    <meta name="author" content="Julius Kimuli">
    <meta name="google-site-verification" content="WKVTQiaPVPBHON0LW96797pB6rWcBMQFuERfCem9luk" />
    <meta name="msvalidate.01" content="D7F62CCC7F61A1D5A06FCD7B515CF920" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/fontawesome-all.min.css" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    

    <title>Julius Kimuli - Careers</title>

    <style>
  
        .sec{
            color: #757575;
        }

        li{
            color: #757575;
        }

        

            body{
      
              margin-top: 10px;
            }
      
            .left-links{
      
              margin-left:20%;
            }
       

    </style>
 

  </head>

  <body>

      <header class="container">

          <nav class="green">
            <div class="nav-wrapper">
              <!--<a href="#" class='brand-logo'>JK</a>-->
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/career">CV</a></li>
                <li><a href="/photos">Gallery</a></li>
                <li><a href="/books">Read List</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
      
              <ul class="side-nav green" id="mobile-demo">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/career">CV</a></li>
                  <li><a href="/photos">Gallery</a></li>
                  <li><a href="/books">Read List</a></li>
                  <li><a href="/contact">Contact</a></li>
                
              </ul>
      
            </div>
          </nav>
      
      </header>

    <main>

      <div class="container">

      <div class="divider"></div>

      <div class="row">

        <div class="col s12 m4">

            <div class="section">

                <div class="card small">
      

                  <div class="card-content">

                      <img src="static/img/kimuli.jpg" width="80px" height="80px" class="responsive-img circle" alt="Julius Image"/>

                      <h5 class="grey-text text-darken-4"> Julius Kimuli </h5>
                      <h6 class="grey-text text-darken-1"> Telecoms Engineering | Web Developer | Linux Systems Administration </h6>

                  </div>

                </div>
            
			
			      </div>

            <div class="section">

              <div class="card">

                <div class="card-header green lighten-4 white-text">
                    <h5 class="center-align"> Summary</h5>
                </div>

                <div class="card-content">
                  
                    <p>Telecoms and IT infrastructure engineering professional with extensive knowledge of GSM/WCDMA/LTE Radio Access Networks, Microwave Transmission and IP/MPLS networks.</p>
                    <p>I have been actively involved in the deployment, operations and maintenance of network infrastructure, while working within multicultural teams under tight deadlines and adherence to service level agreements.</p>
                  
                  
                </div>

              </div>
              

			      </div>
			
			    <div class="section">

                <div class="card">

                    <div class="card-header green lighten-4 white-text">
                        <h5 class="center-align">Contact Information</h5>
                    </div>
    
                    <div class="card-content">
                      
                        <p><span class="fa fa-phone" style="color:#FF5722;"></span>  &nbsp;&nbsp; +256 773383035 </p>
                        <p><span class="fa fa-envelope" style="color:#FF5722;"></span>  &nbsp;&nbsp; jkimuli@gmail.com </p>
                      
                    </div>
    
                  </div>
              

            </div>

            <div class="section">

                    <a href="static/files/Julius_Kimuli_CV.pdf" role="button" class="btn waves-effect waves-light green lighten-4 white-text" download>Download CV </a>

            </div>
            

        </div>

        <div class="col s12 m8">

            <div class="section">

                <div class="card">

                    <div class="card-header green lighten-4 white-text">
                        <h5 class="center-align"> Work Experience</h5>
                    </div>
    
                    <div class="card-content">

                      <h6 class="grey-text text-darken-4"> Network Integration Engineer - Nokia Solutions and Networks Uganda</h6>
                      <h6 class="grey-text text-darken-1">Jan 2016 - todate</h6><br/>
                      <p class="grey-text text-darken-4">Customer: Korea Telecom Rwanda Microwave Project</p>
                      <p class="grey-text text-darken-4">Activities:</p>
                       <ul>

                        <li>
                            <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            <span class="sec">Line of site surveys for 15 Microwave Links.</span>
                        </li>
                        <li>
                            <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            <span class="sec">Supervision of field installation work.</span>
                        </li>
                        <li>
                            <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Commissioning of Nokia 9500 Microwave Packet Radio Equipment.
                        </li>
                       </ul>
                                             
                        <p class="grey-text text-darken-4">Customer: Africell Uganda LTE 2600 and WCDMA 900</p>
                        <p class="grey-text text-darken-4">Activities:</p>
                         <ul>
                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Supervision of subcontractor teams during network deployment.
                           </li>

                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Commissioning of LTE eNodeB and 3G NodeB.
                           </li>

                         </ul>

                         <div class="divider"></div>
                       
                         <h6 class="grey-text text-darken-4">Installation and Commissioning Engineer - Alcatel Lucent Uganda</h6>
                         <h6 class="grey-text text-darken-1"> Dec 2012 - Jan 2016 </h6>
                         <p class="grey-text text-darken-4">Responsibilities:</p>
                         <ul>

                           <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Carrying out technical joint visits with customers to ascertain that the baseline requirements for site build are met. I was also responsible for carrying out both civil works surveys 
                              and line of sight surveys in case the site build involved microwave links.
                           </li>

                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Co-ordination of the kitting of the required equipment for each site in the warehouse and 
                              ensuring the timely transport and delivery of the equipment to the site.
                           </li>

                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Supervision of on-site installation work by sub-contractors and element commissioning for the installed equipment.
                           </li>

                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp; 
                              Collaborating with the Network Operations Center team and Level 2 Technical Support to ensure that a commissioned site is integrated into the existing network.
                           </li>

                           <li>
                              <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                              Carrying out the required voice and data tests for the integrated site, providing the technical documentation for the full site build and 
                              leading the final site acceptance and handover proceedure to the telecom operator.
                           </li>

                         </ul>
                           
                         <p class="grey-text text-darken-4">This was on several projects including:</p> 
                            <ul>
                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Orange Uganda 2G/3G/LTE and Microwave Rollout
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Orange Cameroon LTE Rollout
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Airtel Kenya Fibre Optic Backhaul Project
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Smile Communications Uganda LTE Rollout
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Smile Communications Tanzania LTE Rollout
                              </li>
                            </ul>

                            <div class="divider"></div>

                            <h6 class="grey-text text-darken-4">Operations and Maintenance Engineer - Alcatel Lucent Uganda</h6>
                            <h6>Apr 2009 – Nov 2012</h6>

                            <ul>
                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Responsible for Level 1 operations and maintenance support 
                                  for the Orange Uganda Managed Services Project.
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  On site troubleshooting,fault management and regional spare parts management.
                              </li>
                              
                            </ul>
                                                    
                            <div class="divider"></div>

                            <h6 class="grey-text text-darken-4">Operations and Maintenance Engineer - Warid Telecom Uganda (March 2008 - March 2009)</h6>
                             <ul>
                               <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Level One Operations and maintenance support for SDH/PDH Microwave Transmission network.
                               </li>

                               <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Responsible for on-site fault resolution, routine preventive maintenance activities and spare parts management.
                               </li>
                             </ul>
                             
                             <div class="divider"></div>

                            <h6 class="grey-text text-darken-4">Telecom Technician - Sunsoft Systems Uganda (June 2007 - Feb 2008)</h6>
                            <ul>
                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Responsible for delivery of equipment from the warehouse to all Microwave sites throughout the country.
                              </li>

                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  On-site installation and commissioning of Nera Evolution Series microwave radio units.
                              </li>
                            </ul>
                            
                            <div class="divider"></div>

                            <h6 class="grey-text text-darken-4">Web Developer - Digital Solutions Uganda (June 2006 - September 2006)</h6>
                            <ul>
                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  Developing web applications with PHP and MySQL.
                              </li>
                            </ul>

                            <div class="divider"></div>

                            <h6 class="grey-text text-darken-4"> Trainee IT Support - Infosys Uganda Ltd (June 2005 - September 2005) </h6>
                            <ul>
                              <li>
                                    <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                  LAN Installation and Cabling, Computer Repair and Software Installation.
                              </li>
                            </ul>
                              
                      
                      
                      
                    </div>
    
                  </div>

              

            </div>
          

            <div class="section">

                <div class="card">

                    <div class="card-header green lighten-4 white-text">
                        <h5 class="center-align"> Skills</h5>
                    </div>
    
                    <div class="card-content">
                      
                      <ul>
                          <li> 
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                Python and Django Web Development</li>
                          <li> 
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                Java and Android Development</li>
                          <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                               HTML5,CSS3 and Javascript</li>
                          <li> 
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                                Knowledge of database systems like MySQL and PostgreSQL</li>
                      </ul>
                      

                    </div>
    
                  </div>
    
                           

			      </div>
			
			      <div class="section">

                <div class="card">

                    <div class="card-header green lighten-4 white-text">
                        <h5 class="center-align"> Education and Training</h5>
                    </div>
    
                    <div class="card-content">
                      
                       <ul>
                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            CompTIALinux+ - Linux Systems Administration Certification.
                         </li>

                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Alcatel-Lucent Network Routing Specialist - IP Certification.
                         </li>

                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Cisco CCNA – IP Certification.
                         </li>

                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Nera Networks SDH and PDH Microwave Training.
                         </li>

                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Alcatel-Lucent Radio Access Network Training - Alcatel University.
                         </li>

                         <li>
                                <i class="fas fa-star " style="color:#FF5722;"></i> &nbsp;&nbsp;
                            Bachelor of Science Electrical Engineering 2007 Makerere University Kampala
                         </li>

                       </ul> 
                          
                        
                        
                      
                      
                    </div>
    
                  </div>
    
                           

            </div>
             
            

        </div>


      </div>
      
      <div class="divider"> </div>

      
    </div>
    
    </main>

    <footer class="container">

        <div class="row">

            <div class="col s12">
    
                <div class="section center-align">
                  
                    <p class="center grey-text text-darken-4"> Copyright &nbsp; &copy; &nbsp;<span id="year"></span> - Julius Kimuli </p>

                  
               </div>
    
            </div>
    
    
          </div>
    

    </footer>
        
    <!--Import jQuery before materialize.js-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>

    <script type="text/javascript">

      var currentYear = (new Date).getFullYear();

      $(document).ready(function() {
        $("#year").text( (new Date).getFullYear() );

        $(".button-collapse").sideNav();

      });

      
      
    </script>
  
  </body>

</html>
