<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Julius Kimuli Home Page">
    <meta name="author" content="Julius Kimuli">
    <meta name="google-site-verification" content="WKVTQiaPVPBHON0LW96797pB6rWcBMQFuERfCem9luk" />
    <meta name="msvalidate.01" content="D7F62CCC7F61A1D5A06FCD7B515CF920" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/fontawesome-all.min.css" type='text/css'>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    

    <title>Julius Kimuli - Home Page</title>

    <style>

      body{

        margin-top: 10px;
      }

      .left-links{

        margin-left:20%;
      }
   

    </style>

  </head>

  <body>

    <div class="container">

      <div class="divider grey lighten-1"></div>

      <div class="row">

        <div class="col s12 m7">

            <div class="section">

                <img src="static/img/julio.jpg" class="responsive-img" alt="Julius Image"/> 

            </div>

            <div class="section left-links">

              <a class="btn-floating deep-orange" href="/career">
                <i class="fas fa-wrench fa-2x hoverable" style="color:white;"></i>
               </a> &nbsp;&nbsp;&nbsp;&nbsp;
  
               <a class="btn-floating deep-orange" href="/photos">
                 <i class="fas fa-camera fa-2x" style="color:white;"></i>
               </a>&nbsp;&nbsp;&nbsp;&nbsp;
  
               <a class="btn-floating deep-orange" href="/books">
                 <i class="fas fa-book fa-2x" style="color:white;"></i>
               </a> &nbsp;&nbsp;&nbsp;&nbsp;

               <a class="btn-floating deep-orange" href="/contact">
                <i class="fas fa-envelope fa-2x" style="color:white;"></i>
              </a> &nbsp;&nbsp;&nbsp;&nbsp;

            </div>
            

        </div>

        <div class="col s12 m5">

            <div class="section">

              <h5 class="grey-text text-darken-4"> Hello,</h5>

              <h6 class="grey-text text-darken-4"> I'm Julius Kimuli</h6>
              <p class="grey-text text-darken-1">Telecom Engineer and Software Developer from</p>

              <p> Kampala - Uganda</p>

            </div>

            <div class="divider grey lighten-1"></div>

            <div class="section">

                <h6 class="grey-text text-darken-4"> My Favorite Things:</h6>

                <div class="row">

                  <div class="col s6">

                      <ul>
                          <li class="grey-text text-darken-1"><i class="fas fa-desktop" style="color:#FF5722;"></i> &nbsp;&nbsp;<span class="grey-text text-darken-1">Computers and Technology</span></li>
                          <li><i class="fas fa-book" style="color:#FF5722;"></i> &nbsp;&nbsp;<span class="grey-text text-darken-1">Reading</span></li>
                          <li><i class="fas fa-baseball-ball" style="color:#FF5722;"></i> &nbsp;&nbsp;<span class="grey-text text-darken-1">Cricket</span></li>
      
                      </ul>

                  </div>

                  <div class="col s6">

                      <ul>
                          <li><i class="fas fa-car" style="color:#FF5722;"></i> &nbsp;&nbsp;<span class="grey-text text-darken-1">Motorsport</span></li>
                          <li><i class="fas fa-music" style="color:#FF5722;"></i> &nbsp;&nbsp;<span class="grey-text text-darken-1">Music</span></li>
                          <!--<li><i class="fas fa-aeroplane" style="color:#FF5722;"></i>&nbsp;&nbsp;<span class="grey-text text-darken-1">Travel</span></li>-->
                      </ul>

                  </div>

                </div>
                           

            </div>
  
            
            
            

        </div>


      </div>
      
      <div class="divider grey lighten-1"> </div>

      <div class="row">

        <div class="col s12">

            <div class="section green center-align">

            <a href="http://www.facebook.com/julius.kimuli">
              <i class="fab fa-facebook fa-2x" style="color:white;"></i>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href="http://ug.linkedin.com/in/jkimuli">
               <i class="fab fa-linkedin fa-2x" style="color:whitesmoke;"></i>
             </a>&nbsp;&nbsp;&nbsp;&nbsp;

             <a href="https://twitter.com/JuliusKimuli">
               <i class="fab fa-twitter fa-2x" style="color:whitesmoke;"></i>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href="https://github.com/jkimuli">
               <i class="fab fa-github fa-2x" style="color:whitesmoke;"></i>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href="https://plus.google.com/u/0/117063591173689453940">
               <i class="fab fa-google-plus fa-2x" style="color:whitesmoke;"></i>
            </a>

           </div>

        </div>


      </div>

    </div>
            
        
    <!--Import jQuery before materialize.js-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>

    <script type="text/javascript">

      var currentYear = (new Date).getFullYear();

      $(document).ready(function() {
        $("#year").text( (new Date).getFullYear() );

        $(".button-collapse").sideNav();

      });
      
    </script>
  
  </body>
  

</html>
