<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Julius Kimuli Home Page">
    <meta name="author" content="Julius Kimuli">
    <meta name="google-site-verification" content="WKVTQiaPVPBHON0LW96797pB6rWcBMQFuERfCem9luk" />
    <meta name="msvalidate.01" content="D7F62CCC7F61A1D5A06FCD7B515CF920" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type='text/css'>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    

    <title>Julius Kimuli - Home Page</title>

    <style>

        body{
          
          margin:5px 60px 5px 60px;
        }

        .fa{

           color:#880e4f;
        }

    </style>

    

  </head>

  <body>

    <div class='container'>

    <header>

    <nav class='teal darken-3'>
      <div class="nav-wrapper">
        <!--<a href="#" class='brand-logo'>JK</a>-->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id='nav-mobile' class='right hide-on-med-and-down'>
          <li class='active'><a href='/'>Home</a></li>
          <li><a href='/career'>CV</a></li>
          <li><a href='/photos'>Gallery</a></li>
          <li><a href='/blog'>Blog</a></li>
          <li><a href='/contact'>Contact</a></li>
        </ul>

        <ul class='side-nav teal darken-3' id='mobile-demo'>
          <li class='active'><a href='/'>Home</a></li>
          <li><a href='/career'>CV</a></li>
          <li><a href='/photos'>Gallery</a></li>
          <li><a href='/blog'>Blog</a></li>
          <li><a href='/contact'>Contact</a></li>
        </ul>

      </div>
    </nav>

    </header>

    <div class='divider'> </div> <!-- fix one pixel space between header and main content -->

    <main>

      

       <div class='row'>

          <div class='col s12 m7'>

            <div class='section'>

            <img src='static/img/julio.jpg' class='responsive-img ' alt='Julius Image'/>

            </div>

            <div class='section'>

            
            <p class='center'>
            
             

             <a href='http://www.facebook.com/julius.kimuli'>
              <span class="fa fa-facebook fa-4x" aria='hidden'></span>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href="http://ug.linkedin.com/in/jkimuli">
               <span class="fa fa-linkedin fa-4x" aria='hidden'></span>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href='https://twitter.com/JuliusKimuli'>
               <span class="fa fa-twitter fa-4x" aria='hidden'></span>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href='https://github.com/jkimuli'>
               <span class="fa fa-github fa-4x" aria='hidden'></span>
             </a> &nbsp;&nbsp;&nbsp;&nbsp;

             <a href='https://plus.google.com/u/0/117063591173689453940'>
               <span class="fa fa-google-plus fa-4x" aria='hidden'></span>
            </a></p>

            </div>

          </div>

          <div class='col s12 m5'>

            <div class='section'>

               <p> Hi!, welcome to my personal website. I am Julius Kimuli from Kampala Uganda
                  - a telecommunications engineer, web developer and technology enthusiast. </p>

               <p> I am currently working in telecoms with Nokia Networks Uganda </p>

               <p> 
                  Some stuff that i enjoy:
               </p>
                
                  <ul class='browser-default'>
                    <li>Everything computers and tech
                    <li>An avid book reader
                    <li>Cricket and Motorsport
                    <li>Travel 
                  </ul>
              
            </div>

          </div>


       </div>
      
       
    
    </main>

    <div class='divider'> </div> <!-- fix one pixel space between footer and main content -->


    <footer class='page-footer teal darken-3'>
      
      <div class='footer-copyright'>
         <div class='container'>
 
           <p class='center'> Copyright &nbsp; &copy; &nbsp;<span id="year"></span> - Julius Kimuli </p>

         </div>

      </div>

    </footer>

    </div> <!-- end container -->


    <!--Import jQuery before materialize.js-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>

    <script type="text/javascript">

      var currentYear = (new Date).getFullYear();

      $(document).ready(function() {
        $("#year").text( (new Date).getFullYear() );

        $(".button-collapse").sideNav();

      });


      
    </script>
  
  </body>

</html>
